.admin-panel {
  padding: 32px;
}

.admin-panel h1 {
  margin-bottom: 32px;
}

@media screen and (max-width: 600px) {
  .admin-panel {
    padding: 16px;
  }

  .admin-panel h1 {
    margin-bottom: 16px;
  }
}
